<div class="ultimate-insert-embeds" contenteditable="false">
	<figure>
		<div class="ultimate-insert-embed">
			{{{html}}}
		</div>
	</figure>
	<div class="ultimate-insert-embeds-overlay"></div>
</div>